<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.server.toyprj.user.dao.UserDao">

    <insert id="insertHash" parameterType="String">
        insert into myprj.hash_tb values(#{hash})
    </insert>

    <select id="getHash" resultType="String">
        select * from myprj.hash_tb
    </select>

    <select id="getUserInfo" parameterType="String" resultType="my.server.toyprj.user.model.UserModel">
        select
            username,userpassword,useremail,usernick
        from
            myprj.user_tb
        where
            username = #{id}
    </select>

    <select id="getUser" resultType="my.server.toyprj.user.model.UserModel">
        select *
        from
            myprj.user_tb
        where
            useridx = #{idx}
    </select>

    <select id="selectUser" resultType="int">
        SELECT
            count(userName)
        FROM
            myprj.user_tb
        WHERE
            username = #{userName}
        AND
            userpassword = #{userPassWord}
    </select>

    <select id="selectId" parameterType="String" resultType="int">
        SELECT
            count(username)
        FROM
            myprj.user_tb
        WHERE
            username = #{id}
    </select>


    <insert id="insertUser" parameterType="my.server.toyprj.user.model.UserModel">
        INSERT INTO
            myprj.user_tb
        VALUES(nextval('seq_user_tb'),#{userName},#{userPassWord},#{userEmail},#{userNick})
    </insert>


</mapper>